<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Login
  link(rel="stylesheet", href="/css/styles.css")
body
  h1(class="header") Welcome! Please login!
    form(method='POST', action='/')
      input(type='text', name='username', placeholder='Username')
      input(type='password', name='password', placeholder='Password')
      input(type='submit')