* {
  box-sizing: border-box;
}

html, body {
  background-image: url("/assets/graphics/dark_embroidery_68x34.png");
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  
}

.task {
  text-shadow: 3px 3px #8A8A8A;
  color: white;
  text-align: center;
  font-family: arial;
  font-weight: bold;
}

.header {
  text-shadow: 3px 3px #8A8A8A;
  color: white;
  text-align: center;
  font-family: arial;
}

section {
  height: 100%;
}

.wrapper {
  height: 100%;
}

.column {
  width: 33%;
  height: 100%;
  float: left;
  padding: 10px;
}

.column.left {

}

.column.middle {

}

.column.right {

}

.work.status {
  text-shadow: 3px 3px #8A8A8A;
  color: white;
  text-align: center;
  font-family: arial;
  font-weight: bold;
}

.card {
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: arial;
  font-weight: bold;
}

.single_card {
  text-align: left;
  background-color: #00FFF5;
  border-style: outset;
}

ol {
  list-style-position: inside; 
}

form {
  text-align: center;
}

input {
  width: 31%;
  text-align: center;
}

#version {
  color: white;
  text-align: center;
}

#error_page {
  color: white;
  text-align: center;
}